<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="app-container">
        <h1 style="text-align:center">Blinx Boilerplate</h1>
        <p style="text-align:center"> You havn't registered any route :-(</p>
    </div>
</body>
</html>